@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.side-scan:hover > .side-scan-action {
    @apply flex gap-1 items-center
}

.expandable.collapsed:after {
    @apply animate-[fade_500ms_ease-in-out_infinite];
    content: "";
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 80%);
    width: 100%;
    bottom: 10%;
    height: 40%;
}